<html>
<head>
    <a href="index">home page</a>
    <a href="form">formularz</a>
</head>
<body>
<form action="" method="post" class="Person">
    <div class="Person">
        <label for="name">Podaj imie</label>
        <input type="text" name="name" id="nameInput" required>
    </div>
    <div class="Person">
        <label for="age">Podaj wiek</label>
        <input type="text" name="age" id="ageInput" required>
    </div>
    <div class="Person">
        <input type="submit">
    </div>
</form>
</body>
</html>